[Unit]
Description=Todo Service
[Service]
Environment=REDIS_HOST=redis-endpoint
ExecStart=/bin/node /root/todo/server.js
syslogIdentifier=todo

[Install]
WantedBy=multi-user.target
